body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-test {
  clip-path: polygon(20% 0%, 80% 0%, 95% 95%, 15% 100%);
}

.App {
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.circle-container {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.circle-img {
  position: absolute;
  width: 80px;
  /* Adjust the size of your images */
  height: 80px;
  /* Maintain aspect ratio */
}

.background-circle {
  width: 700px;
  height: 700px;
  background-color: #080b0c; /* Choose your desired background color */
  border-radius: 50%;
  z-index: -1;
}
